.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    height: 100%;
}

.square {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.square:nth-child(odd) {
    background-color: #eee;
}

.square:nth-child(even) {
    background-color: #ddd;
}

.square.highlight {
    background-color: yellow;
}